<div class="topbg-color">
  <div class="container">
    <div class="row pt-5"  style="background-color:#fffaf4;">
      <%= video_tag("/videos/spacereference_about.mp4", autoplay: :true, loop: :true, muted: :true, width: "97%", height: "564", class: 'video-content') %>
    </div>
    <div class="row d-flex align-items-center justify-content-center py-5" style="background-color:#fffaf4;">

    </div>
  </div>
</div>