<div class="topbg-color">
  <div class="container">
    <div class="row pt-5"  style="background-color:#fffaf4;">
      <%= video_tag("/videos/spacereference_about.mp4", autoplay: :true, loop: :true, muted: :true, width: "99%", height: "322", class: 'video-content') %>
    </div>
    <div class="row d-flex align-items-center justify-content-center py-5" style="background-color:#fffaf4;">
      <h1><strong>spacereferenceの使い方</strong></h1>
    </div>

    <div class="row d-flex align-items-center justify-content-center py-5" style="background-color:#fffaf4;">
      <div class="col-md-6">
        <div class="row pt-5 d-flex align-items-center justify-content-center">
          <h2><strong>⇓--ゲストログイン--⇓</strong></h2>
        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">
          <h2><strong></strong></h2>
        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">
          <img src="assets/部屋アジアン.jpg", style="width: 100%; height: 300px;">
        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">

        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">

        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">

        </div>
      </div>

      <div class="col-md-6">
        <div class="row pt-5 d-flex align-items-center justify-content-center">
          <h2><strong>⇓--会員--⇓</strong></h2>
        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">

        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">
          <img src="assets/部屋アジアン.jpg", style="width: 100%; height: 300px;">
        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">

        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">

        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">

        </div>
      </div>
    </div>
  </div>
</div>