<div class="aboutbg-color">
  <div class="container">
    <div class="row pt-5" style="background-color:#fffaf4;">
      <%= video_tag("/videos/spacereference_about.mp4", autoplay: :true, loop: :true, muted: :true, width: "99%", height: "322", class: 'video-content') %>
    </div>
    <div class="row d-flex align-items-center justify-content-center py-5" style="background-color:#fffaf4;">
      <h1><strong>spacereferenceの使い方</strong></h1>
    </div>

    <hr>

    <div class="row d-flex align-items-center justify-content-center py-5" style="background-color:#fffaf4;">
      <div class="col-md-6">
        <div class="row pt-5 d-flex align-items-center justify-content-center">
          <h2><strong>⇓--ゲストログイン--⇓</strong></h2>
        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">
          <h4 class="text-center">
            <strong>
              ゲストログインはページ上部の<br>
              「ゲストログイン(閲覧用)」から行えます。
            </strong>
          </h4>
        </div>
        <div class="row pt-5 px-1 d-flex align-items-center justify-content-center">
          <img src="assets/top1.png", style="width: 100%; height: 300px;">
        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">
          <h4 class="text-center">
            <strong>
              ページ上部の「部屋一覧」から<br>
              会員の投稿一覧を見ることができます。<br>
              検索でテイストを絞ることができ、<br>
              部屋の写真から詳細ページに行けます。<br>
            </strong>
          </h4>
        </div>
        <div class="row pt-5 px-1 d-flex align-items-center justify-content-center">
          <img src="assets/roomindex.png", style="width: 100%; height: 300px;">
        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">
          <h4 class="text-center">
            <strong>
              部屋の詳細ページではおすすめの家具や<br>
              コメントを見ることができます。<br>
              家具の写真から購入先のページに行けます。<br><br>
            </strong>
          </h4>
        </div>
        <div class="row pt-5 px-1 d-flex align-items-center justify-content-center">
          <img src="assets/roomshow1.png", style="width: 100%; height: 300px;">
        </div>
        <div class="row pt-1 px-1 d-flex align-items-center justify-content-center">
          <img src="assets/roomshow2.png", style="width: 100%; height: 300px;">
        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">
          <h4 class="text-center">
            <strong>
              <br>会員登録でコメントをすることが可能になります。<br>
              コメントをしてサイトを盛り上げよう！<br><br>
            </strong>
          </h4>
        </div>
        <div class="row pt-5 px-1 d-flex align-items-center justify-content-center">
          <img src="assets/roomshow4.png", style="width: 100%; height: 300px;">
        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">
          <h2><strong><br>⇓--会員登録について--⇓<br><br></strong></h2>
        </div>
        <div class="row pt-5 pb-3 d-flex align-items-center justify-content-center">
          <h4 class="text-center">
            <strong>
              <br><br><br>
              会員の新規登録はページ上部の<br>
              「新規登録」から行えます。<br><br><br><br>
            </strong>
          </h4>
        </div>
        <div class="row pt-5 px-1 d-flex align-items-center justify-content-center">
          <img src="assets/top3.png", style="width: 100%; height: 300px;">
        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">
          <h4 class="text-center">
            <strong>
              登録は無料で行えまして、<br>
              年会費などもございません。<br>
              登録内容は名前、メールアドレス、<br>
              パスワードのみとなっております。
            </strong>
          </h4>
        </div>
        <div class="row pt-5 px-1 d-flex align-items-center justify-content-center">
          <img src="assets/customernew.png", style="width: 100%; height: 300px;">
        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">
          <h2><strong><br>⇓--ご利用上の注意--⇓<br><br></strong></h2>
        </div>
        <div class="row pt-5 px-1 d-flex align-items-center justify-content-center">
          <img src="assets/ご利用上の注意.png", style="width: 100%; height: 300px;">
        </div>
      </div>


      <div class="col-md-6">
        <div class="row pt-5 d-flex align-items-center justify-content-center">
          <h2><strong>⇓--会員の方--⇓</strong></h2>
        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">
          <h4 class="text-center">
            <strong>
              会員のログインはページ上部の<br>「ログイン」から行えます。
            </strong>
          </h4>
        </div>
        <div class="row pt-5 px-1 d-flex align-items-center justify-content-center">
          <img src="assets/top2.png", style="width: 100%; height: 300px;">
        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">
          <h4 class="text-center">
            <strong>
              ページ上部の「マイページ」から<br>
              自分の詳細ページに行けます。<br>
              自分の投稿一覧と会員情報を見ることができます。<br>
              「部屋新規登録」で部屋の登録ページに行けます。
            </strong>
          </h4>
        </div>
        <div class="row pt-5 px-1 d-flex align-items-center justify-content-center">
          <img src="assets/customershow.png", style="width: 100%; height: 300px;">
        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">
          <h4 class="text-center">
            <strong>
              部屋と部屋に使われているおすすめの<br>
              家具を登録して投稿することができます。<br>
              「家具の追加」から好きな個数を追加できます。<br>
              （なしでも投稿可能）
            </strong>
          </h4>
        </div>
        <div class="row pt-5 px-1 d-flex align-items-center justify-content-center">
          <img src="assets/roomnew.png", style="width: 100%; height: 300px;">
        </div>
        <div class="row pt-1 px-1 d-flex align-items-center justify-content-center">
          <img src="assets/roomnew2.png", style="width: 100%; height: 300px;">
        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">
          <h4 class="text-center">
            <strong>
              ページ上部の「部屋一覧」から<br>
              会員の投稿一覧を見ることができます。<br>
              検索でテイストを絞ることができ、<br>
              部屋の写真から詳細ページに行けます。
            </strong>
          </h4>
        </div>
        <div class="row pt-5 px-1 d-flex align-items-center justify-content-center">
          <img src="assets/roomindex.png", style="width: 100%; height: 300px;">
        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">
          <h4 class="text-center">
            <strong>
              部屋の詳細ページではおすすめの<br>
              家具を見ることができます。<br>
              家具の写真から購入先のページに行けます。<br><br>
            </strong>
          </h4>
        </div>
        <div class="row pt-5 px-1 d-flex align-items-center justify-content-center">
          <img src="assets/roomshow1.png", style="width: 100%; height: 300px;">
        </div>
        <div class="row pt-1 px-1 d-flex align-items-center justify-content-center">
          <img src="assets/roomshow2.png", style="width: 100%; height: 300px;">
        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">
          <h4 class="text-center">
            <strong>
              <br>コメントをしたり、見たりすることも可能です。<br>
              部屋とコメントの編集や削除もできます。<br><br>
            </strong>
          </h4>
        </div>
        <div class="row pt-5 px-1 d-flex align-items-center justify-content-center">
          <img src="assets/roomshow3.png", style="width: 100%; height: 300px;">
        </div>
        <div class="row pt-5 d-flex align-items-center justify-content-center">
          <h4 class="text-center">
            <strong>
              ページ上部の「会員一覧」から<br>
              会員の一覧を見ることができます。<br>
              名前検索やフォロー中の会員を絞ることができ、<br>
              会員の名前から詳細ページに行けます。
            </strong>
          </h4>
        </div>
        <div class="row pt-5 px-1 d-flex align-items-center justify-content-center">
          <img src="assets/customerindex.png", style="width: 100%; height: 300px;">
        </div>
      </div>
    </div>
  </div>
</div>