<div class="topbg-color">
  <div class="container">
    <div class="row">
      <video class="topbg" src="https://4dea25e2bbd241eaae370e24bec39fc2.vfs.cloud9.ap-northeast-1.amazonaws.com/_static/space_reference/app/javascript/images/topbg.mp4" autoplay muted>
      </video>
    </div>
    <div class="row py-4" style="background-color:rgba(205,205,205,0.2);">
      <div class="col col-md-6 offset-md-3 text-center py-2" style="background-color:rgba(241,254,203,0.6);">
        <h2><strong>ようこそ!　space referenceへ！！</strong></h2>
      </div>
    </div>
    <div class="row pb-5" style="background-color:rgba(205,205,205,0.2);">
      <h5 class="col col-md-8 offset-md-2 text-center py-3 mb-5" style="background-color:rgba(241,254,203,0.6);">
        このサイトは、部屋の模様替えをサポートするサイトになります。<br>
        他の人が投稿した部屋の写真や家具を模様替えをするときの参考にしたり、<br>
        自分の部屋の写真を投稿して、アドバイスを頂くことなどができます。<br>
        <br>
        会員登録・ログインはページ上部からお願いいたします！<br>
      </h5>
    </div>
  </div>
</div>
