<div class="topbg-color">
  <div class="container">
    <div class="row">
      <video src="assets/topbg.mp4", style="width: 100%; height: 640px;" autoplay muted>
      </video>
    </div>
    <div class="row py-4" style="background-color:rgba(205,205,205,0.2);">
      <div class="col col-md-6 offset-md-3 text-shadow title-myshow rounded text-center py-2" style="color: #61b9b6; background-color:rgba(241,254,203,0.6);">
        <h2><strong>ようこそ!　space referenceへ！！</strong></h2>
      </div>
    </div>
    <div class="row" style="background-color:rgba(205,205,205,0.2);">
      <h5 class="col col-md-8 offset-md-2 rounded text-center py-3 mb-5" style="background-color:rgba(241,254,203,0.6);">
        このサイトは、部屋の模様替えをサポートするサイトになります。<br>
        他の人が投稿した部屋の写真や家具を模様替えをするときの参考にしたり、<br>
        自分の部屋の写真を投稿して、アドバイスを頂くことなどができます。<br>
        <br>
        <strong>ゲストログイン</strong>(部屋の一覧・詳細ページの閲覧のみ)、<br>
        <strong>会員登録</strong>、<strong>ログイン</strong>はページ上部からお願いいたします！！<br>
        詳しくはページ上部のAboutをご覧ください。
      </h5>
    </div>

    <div class="row py-5" style="background-color:rgba(205,205,205,0.2);">
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <%= image_tag  '部屋アジアン.jpg', :width => '100%', :height => '300px' %>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center", style="color: #b6846d;">
        <h2><strong class="text-shadow">アジアン</strong></h2>
      </div>
    </div>
    <div class="row py-5" style="background-color:rgba(205,205,205,0.4);">
      <div class="col-md-6 d-flex align-items-center justify-content-center", style="color: #9a9a9a;">
        <h2><strong class="text-shadow">モダン</strong></h2>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <img src="assets/部屋モダン.jpg", style="width: 100%; height: 300px;">
      </div>
    </div>
    <div class="row py-5" style="background-color:rgba(205,205,205,0.2);">
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <img src="assets/部屋ナチュラル.jpg", style="width: 100%; height: 300px;">
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center", style="color: #8eff71;">
        <h2><strong class="text-shadow">ナチュラル</strong></h2>
      </div>
    </div>
    <div class="row py-5" style="background-color:rgba(205,205,205,0.4);">
      <div class="col-md-6 d-flex align-items-center justify-content-center", style="color: #a74141;">
        <h2><strong class="text-shadow">アメリカン</strong></h2>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <img src="assets/部屋アメリカン.jpg", style="width: 100%; height: 300px;">
      </div>
    </div>
    <div class="row py-5" style="background-color:rgba(205,205,205,0.2);">
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <img src="assets/部屋和風.jpg", style="width: 100%; height: 300px;">
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center", style="color: #dabed2;">
        <h2><strong class="text-shadow">和風</strong></h2>
      </div>
    </div>
    <div class="row py-5" style="background-color:rgba(205,205,205,0.4);">
      <div class="col-md-6 d-flex align-items-center justify-content-center", style="color: #ffedbb;">
        <h2><strong class="text-shadow">カントリー</strong></h2>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <img src="assets/部屋カントリー.jpg", style="width: 100%; height: 300px;">
      </div>
    </div>
    <div class="row py-5" style="background-color:rgba(205,205,205,0.2);">
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <img src="assets/子供部屋.jpg", style="width: 100%; height: 300px;">
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center", style="color: #ffffff;">
        <h2><strong class="text-shadow">子供部屋</strong></h2>
      </div>
    </div>
    <div class="row py-5" style="background-color:rgba(205,205,205,0.4);">
      <div class="col-md-6 d-flex align-items-center justify-content-center", style="color: #42dcff;">
        <h2><strong class="text-shadow">北欧</strong></h2>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <img src="assets/部屋北欧.jpg", style="width: 100%; height: 300px;">
      </div>
    </div>
    <div class="row py-5">
    </div>
  </div>
</div>
