<footer class="mt-auto bg-footer fixed-bottom" >
  <div class="text-center" style="line-height: 50px; background: url('<%= asset_path('mokuzai.jpg') %>'); background-size: 100% 100%;">space reference</div>
</footer>